<div class="main top-main">
  <div class="top-message">
    
  <h2>メニュー</h2>
  
  <hr>
  <ul>
    
    <li><%= link_to(" 管理者新規登録", "/manager/new",class: " btn") %></li>
    <li><%= link_to(" 従業員新規登録", "/users/new",class: "btn") %></li>
    <li><%= link_to(" 勤務時間・残業時間の確認", "/show",class: "btn") %></li>
    <li><%= link_to(" 管理者の情報確認", "/manager/show",class: "btn") %></li>
    <p>※管理者と従業員は別に登録されます</p>
  </ul>
  </div>
  
  
</div>