<div class="main top-main">
  <div class="top-message">
    <h2>タイムカードアプリ</h2>
    
    
  </div>
  <div class="top-menu">
    <ul>
    <li><%= link_to("従業員", "/login",class: "btn") %></li>
    <li><%= link_to("管理者","/login_manager",class: "btn rev")%></li>
    </ul>
    <p>新規登録は管理者に問い合わせて下さい</p>
    <i class="fa fa-sharp fa-solid fa-check"></i>
    <i class="fa fa-sharp fa-solid fa-alarm-clock"></i>
  </div>

</div>